body{
    background-color:(18, 18, 18);
  }


  #page-container     
    {position: relative;
      min-height: 100vh;
      background-image: url("https://th.bing.com/th/id/OIP.1wYHcFQB9vyoOL86G2711gHaE8?rs=1&pid=ImgDetMain");
      background-color: #000000;
     };
     #profilepage {
        padding-top: 50px; /* Adjust top padding as needed */
        background-color: #000000; /* Black background color */
    }
    
    #page-container {
        height: 100vh; /* Full viewport height */
        background-color: #000000; /* Black background color */
    }

    
    .card {
        width: 16rem;
        margin-left: auto; /* Center card horizontally */
        margin-right: auto;
        margin-top: 12%;
        background-color: #000000; /* Black background color */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle box-shadow */
    }
    
    #bioName {
        margin-bottom: 0; /* Remove default margin */
    }
    
    #postForm {
        max-width: 500px; /* Limit form width */
        margin: 0 auto; /* Center form horizontally */
        background-color: #000000; /* Black background color */
        padding: 20px;
        border-radius: 5px; /* Rounded corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box-shadow */
    }